{% extends 'base.html' %}
{% block title %}{{user.first_name}} {{user.last_name }}{% endblock %}

{% block content %}

<div id="detail_img">
    <img src="{{user.image_url}}" alt="a picture of {{user.first_name}} {{user.last_name}}" height="auto" width="auto"> 
    <h2>{{user.first_name}} {{user.last_name}}</h2>
</div>
<div>
    <form action="/users/{{user.id}}/edit">
        <button>Edit</button>
    </form>
    <form action="/users/{{user.id}}/delete" method="POST">
        <button>Delete</button>
    </form>
</div>
<div id='posts'>
    <h3>Posts</h3>
        <ul>
            {% for post in posts %}
                <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
            {% endfor %}
        </ul>
</div>
<form action="/users/{{user.id}}/posts/new">
    <button>Add Post</button>
</form>
{% endblock %}